@page
@model VocabularyPanelModel
@{
    ViewData["Title"] = "Vocabulary";
}
<script type="text/javascript">
    LoadVocabularyLists();
</script>
<div id="vocabularyPanel" class="center" onload="LoadVocabularyLists();">
    <h4 class="center">Vocabulary</h4>

    <!-- TODO - update select list based on radio button selected -->
    <!-- TODO - check in final should have phrases and one other at least -->
    <div class="vocabularyListSelectionPanelParent">
        <div class="vocabularyListSelectionPanel">
            <div id="vocabularyMobileMenu" class="collasped">
                <table width="100%">
                    <tr>
                    @for(var ctr=0; ctr<Model.VocabularyRadioButtons.Count; ctr++)
                    {                            
                        <td>
                                @if (ctr == 0) {
                                    <input type="radio" name="type" checked
                                        value="@Model.VocabularyRadioButtons[ctr].Value" 
                                        onclick="@Model.VocabularyRadioButtons[ctr].MethodCall">@Model.VocabularyRadioButtons[ctr].LinkText<br />
                                } else {                                    
                                    <input type="radio" name="type" 
                                        value="@Model.VocabularyRadioButtons[ctr].Value" 
                                        onclick="@Model.VocabularyRadioButtons[ctr].MethodCall">@Model.VocabularyRadioButtons[ctr].LinkText<br />
                                }
                        </td>
                            
                        @if ((ctr+1) % 2 == 0) // (ctr+1) is because we start at index 0 for the lists, but need to start at 1 form the table to draw correctly
                        {
                            <tr></tr>                                
                        }
                    }
                    </tr>
                </table>
            </div>
            <div id="vocabularyDesktopMenu" class="expanded">
                <table width="100%">
                    <tr>
                        @for (var ctr = 0; ctr < Model.VocabularyRadioButtons.Count; ctr++)
                        {
                            <td>                  
                                @if (ctr == 0) {
                                    <input type="radio" name="type" checked
                                        value="@Model.VocabularyRadioButtons[ctr].Value" 
                                        onclick="@Model.VocabularyRadioButtons[ctr].MethodCall">@Model.VocabularyRadioButtons[ctr].LinkText<br />
                                } else {                                    
                                    <input type="radio" name="type" 
                                        value="@Model.VocabularyRadioButtons[ctr].Value" 
                                        onclick="@Model.VocabularyRadioButtons[ctr].MethodCall">@Model.VocabularyRadioButtons[ctr].LinkText<br />
                                }
                            </td>

                            @if ((ctr + 1) % 4 == 0) // (ctr+1) is because we start at index 0 for the lists, but need to start at 1 form the table to draw correctly
                            {
                                <tr></tr>
                            }
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @*<select id="vocabularyListSelectList" class="center"></select>
    <button onclick="SelectVocabularyList();">Submit</button>*@
    <div id="vocabularySubPanel" class="collasped">
        @await Html.PartialAsync("/Pages/Panels/SubPanels/VocabularySubPanel.cshtml")
    </div>
</div>
