@model TASPA.Models.BaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/taspa.css" />
    <title>@ViewData["Title"] - TASPA</title>
</head>
<script type="text/javascript">
    var skipExecution = false;
    function SetNavMenu(show) {
        var mnu = document.getElementById("navMenu");
        var mnuExpd = document.getElementById("navMenuExpanded");

        if (skipExecution === true) {
            skipExecution = false;
            return;
        }

        if (show == 1) {
            mnu.style.display = 'none';
            mnuExpd.style.display = 'block';
            skipExecution = true;
        }
        else if (show === 0) {
            mnu.style.display = 'block';
            mnuExpd.style.display = 'none';
        }
    }
    function Search(){
        var searchTextBox = document.getElementById("searchTerm");
        var searchTerm = searchTextBox.value;
        alert("You clicked Search with term '" + searchTerm + "'");
    }
    function Resize()
    {
        var width = window.innerWidth;

        if (width <= 768)
        {
            document.getElementById("mobileMenu").classList.remove('collasped');
            document.getElementById("mobileMenu").classList.add('expanded');
            document.getElementById("desktopMenu").classList.remove('expanded');
            document.getElementById("desktopMenu").classList.add('collasped');
        } 
        else {
            document.getElementById("mobileMenu").classList.remove('expanded');
            document.getElementById("mobileMenu").classList.add('collasped');
            document.getElementById("desktopMenu").classList.remove('collasped');
            document.getElementById("desktopMenu").classList.add('expanded');
        }
    }
</script>
<body onresize="Resize()" onload="Resize()">
    <div class="main" onclick="SetNavMenu(0);">
        <div class="headerContainer">
            <div class="main header right">
                <div class="searchContainer">
                    <div class="search right">
                        <input id="searchTerm" />
                    </div>
                    <div class="search left">
                        <div class="searchBtn" onclick="Search();"></div>
                    </div>
                </div>
            </div>
            <div class="main header left">
                <div id="mobileMenu" class="collasped">
                    <div class="menu" id="navMenu" onclick="SetNavMenu(1);"></div>
                    <div class="menuExpanded collasped" id="navMenuExpanded">
                        <a href="" onclick="SetNavMenu(0);">close</a>
                        <br/>
                        @foreach(var navigationLink in Model.NavigationLinks)
                        {
                            <br />
                            <a href='@string.Format("{0}", navigationLink.LinkAction)'>@navigationLink.LinkText</a>
                        }
                    </div> 
                </div>
                <div id="desktopMenu" class="desktopMenu expanded">
                    @foreach (var navigationLink in Model.NavigationLinks)
                    {
                        <a href='@string.Format("{0}", navigationLink.LinkAction)'>@navigationLink.LinkText</a>
                    }
                </div>
            </div>
        </div>
        
        <header class="center">
            <h1>The Awesome Spanish Practice Application (TASPA)</h1>
        </header>
        
        <div>
            <main>
                @RenderBody()
            </main>
        </div>

        <footer class="center">
            <p>TASPA Footer</p>
        </footer>
    </div>  
</body>
</html>