@model TASPA.Models.BaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/taspa.css" />
    <title>@ViewData["Title"] - TASPA</title>

    <script src="@Url.Content("~/js/_Layout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Chat.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/ServerCall.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/ServerCalls.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Utilities.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/_Layout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Utilities.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/VerbsSubPanel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/VerbsPanel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/VocabularySubPanel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/VocabularyPanel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/SearchResultsPanel.js")" type="text/javascript"></script>

</head>
<body onresize="Resize()" onload="Resize();">
    <div class="main" onclick="SetNavMenu(0);">
        <div class="headerContainer">
            <div class="main header right">
                <div class="searchContainer">
                    <div class="search right">
                        <input id="searchTerm" />
                    </div>
                    <div class="search left">
                        <div class="searchBtn" onclick="Search();"></div>
                    </div>
                </div>
            </div>
            <div class="main header left">
                <div id="mobileMenu" class="collasped">
                    <div class="menu" id="navMenu" onclick="SetNavMenu(1);"></div>
                    <div class="menuExpanded collasped" id="navMenuExpanded">
                        <a href="" onclick="SetNavMenu(0);">close</a>
                        <br />     
                        @await Html.PartialAsync("/Pages/Panels/Controls/LayoutList.cshtml", new LayoutListModel(Model.NavigationLinks, true))
                    </div> 
                </div>
                <div id="desktopMenu" class="desktopMenu expanded">
                    @await Html.PartialAsync("/Pages/Panels/Controls/LayoutList.cshtml", new LayoutListModel(Model.NavigationLinks, false))
                </div>
            </div>
        </div>
        
        <header class="center">
            <h2>The Awesome Spanish Practice Application (TASPA)</h2>
        </header>
        
        <div class="content">
            <main>
                @RenderBody()
            </main>
        </div>

        <footer class="footer center">
            <p>© @DateTime.Now.Year.ToString() TASPA</p>
        </footer>
    </div>  
</body>
</html>